/* simple announcement */

.jr-simple-announcement .inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 1.5rem 0;
}

.jr-simple-announcement .inner-container .announcement-item {
    flex: 1;
    text-transform: uppercase;
    align-items: stretch;
    padding: 0 1rem;
}

.jr-simple-announcement .inner-container .divider {
    background-color: #909090;
    width: 1.5px;
    max-height: 100%;
    height: 25px;
}

.jr-simple-announcement .inner-container a,
.jr-simple-announcement .inner-container p {
    display: flex;
    justify-content: center;   
    align-items: center; 
    text-align: center;
    font-weight: 600;
    margin: 0;
} 

.jr-section .theme-button {
    padding: 10px 35px;
    border-radius: 25px;
    cursor: pointer;
    min-width: 190px;
    max-width: 190px;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 600;
}

.jr-section .abs-pos-text {
    font-size:  26px;
    font-weight: 600;
    text-transform: uppercase;
    height: max-content;
}

@media screen and (max-width: 768px) {
    .jr-simple-announcement .inner-container .divider {
        display: none;
    }
    .jr-simple-announcement .inner-container .announcement-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        opacity: 0;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
    .jr-simple-announcement .inner-container .announcement-item.active {
        opacity: 1;
    }
    .jr-simple-announcement .inner-container {
        position: relative;
        padding: 2rem 0;
    }
    .jr-section .abs-pos-text {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
    }
}

/* lp hero */

.jr-hp-hero {
    position: relative;
    max-height: 90vh;
    width: 100%;
}

.jr-hp-hero h1,
.jr-hp-hero h2,
.jr-hp-hero h3,
.jr-hp-hero h4,
.jr-hp-hero h5,
.jr-hp-hero h6,
.jr-hp-hero p,
.jr-hp-hero a {
    margin: 0;
    line-height: 1.1 !important;
}

.jr-hp-hero .content-container { 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: 50%;
    margin-left: 6.5%;
    z-index: 2;
}

.jr-hp-hero .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.jr-hp-hero .stars{
    width: 100px;
}

.jr-hp-hero .stars-text {
    line-height: 1;
}

.jr-hp-hero h1 {
    line-height: 42px;
    text-align: left !important;
    font-weight: 600;
}

.jr-hp-hero .section-subheader {
    font-size: 26px;
    line-height: 30px;
    line-height: 1;
    margin: 15px 0;
}

.jr-hp-herp .section-header {
    max-width: 500px;
}

.jr-hp-hero .desktop {
    display: flex;
}

.jr-hp-hero .mobile {
    display: none;   
}

.jr-hp-hero .star-review-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.jr-hp-hero .image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
}
.jr-hp-hero .button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.jr-hp-hero .button-container .theme-button {
    text-align: center;
}

.jr-hp-hero ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.jr-hp-hero ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

.jr-hp-hero ul li:before {
    content: '✓';
    margin-right: 10px;
}


.jr-5050 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
}

.jr-padding {
    padding: 4rem 2rem;
}

.jr-5050.page-width-2:after, 
.jr-5050.page-width-2:before {
  display: none;
}

.jr-5050 .col {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jr-5050 .col.left-aligned {
    align-items: flex-start;
    text-align: left;
}

.jr-5050 .col.right-aligned {
    align-items: flex-end;
    text-align: right;
}

.jr-5050 .col.center-aligned {
    align-items: center;
    text-align: center;
}

.jr-5050.reverse {
    flex-direction: row-reverse;
}

.jr-5050 img {
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.jr-5050 h2,
.jr-5050 h3 {
    max-width: 80%;
    margin: 0;
}



@media screen and (max-width: 768px) {
    .jr-hp-hero .desktop {
        display: none;
    }
    .jr-hp-hero {
        height: 75vh;
    }
    .jr-hp-hero h1 {
        text-align: center !important;
        line-height: 38px;
    }
    .jr-hp-hero .mobile {
        display: flex;   
    }
    .jr-hp-hero .content-container {
        width: 100%;
        margin: 0;
        align-items: center;
        padding: calc(4% + 10px) 15px;
    }
    .jr-hp-hero .hero-image {
        position: relative;
    }
    .jr-hp-hero .section-subheader {
        font-size: 20px;
        margin: 8px 0;
    }
    .jr-hp-hero .hero-btn {
        min-height: 35px;
        margin-top: 15px;
        font-size: 14px;
    }
    .jr-hp-hero .stars-text {
        font-size: 14px;
    }
    .jr-hp-hero ul li {
        margin-bottom: 5px;
    }
    .jr-hp-hero .button-container .theme-button {
        min-width: auto;
        flex: 1;
    }
    .jr-hp-hero .button-container {
        width: 100%;
    }
}